<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeSystem</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">

</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="#">Employee System</a>
        <!--Button for toggle sidemenu-->
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <partial name="top_nav_bar" />
    </nav>

    <!--Page Wrapper-->
    <div id="wrapper">

        <!--Sidebar - brand-->
        <ul class="sidebar navbar-nav">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Manage Employees</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" asp-controller="Employee" asp-action="Index">
                    <i class="fas fa-people-carry"></i>
                    <span>Employees</span>
                    </a> 
                    <a class="dropdown-item" asp-controller="Supervisor" asp-action="Index">
                    <i class="fas fa-people-carry"></i>
                    <span>Supervisors</span>
                    </a>
                    <a class="dropdown-item" asp-controller="Audit" asp-action="Index">
                    <i class="fas fa-file"></i>
                    <span>Audit Information</span>
                    </a>
                </div>
                

            </li>

            <hr class="sidebar-divider">
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="" asp-action="">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Support</span>
                </a>

            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="@ViewBag.Settings">
                    <a asp-contoller="Settings" asp-action="SettingsList">
                        <i class="fa-tachometer-alt fa-cog" aria-hidden="true"></i>
                        Settings
                    </a>
                </li>
            }

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper">


            <!--Begin Page Content-->
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!--/.container-fluid-->
            <!--End Page Content-->
            <!--End of Main content-->



            <partial name="_CookieConsentPartial" />

            <hr />
            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; 2019 - EmployeeSystem</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!--End of content wrapper-->
    </div>
    <!--End of Page wrapper-->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <a class="btn btn-danger" asp-area="Identity" asp-page="/Account/Login">Logout</a>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.js"></script>




    @RenderSection("Scripts", required: false)
</body>
</html>
